body{
background-color: maroon;
}
.one{
    background-color: mediumturquoise;
}
.two{background-color: mintcream


    ;}

    .three{background-color: papayawhip;
    
    }
    <div{background-color: papayawhip;}